<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class='text-center'>
    <%# if an unauthorized user accesses other user's data then the following is displayed %>
      <% if @user == nil %>
        <h1> Unauthorized access </h1>
      <% else %>
        <%= @user.name %>
      </h3>
      <h3 class='text-center'>
        <%= @user.email %>
      </h3>
    <% end %>
  </div>
</div>
