<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to my Rails app, <%= @user.name %></h1>
    <p>
      You have successfully signed up to my website,
      your username is: <%= @user.name + "123" %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Here is a photo I want you to see:</p>
    <%= image_tag attachments['bmo.jpg'].url, alt: 'BMO from Adventure Time', class: 'photos' %>
  </body>
</html>
